@use "../lib/mixin" as *;
@use "../lib/color" as *;

.parts_backtotop {
	z-index: 100;
	position: fixed;
	bottom: 12px;
	right: 12px;
	width: 40px;
	@include bp(m) {
		bottom: 40px;
		right: 40px;
		width: 48px;
	}
}