@use "../lib/mixin" as *;
@use "../lib/color" as *;
#toc {
  &_container {
    background-color: $color_beg-2;
    border: none !important;
    margin-top: 48px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 40px 24px 40px 5.8%;
    @include bp(m) {
      width: 100%;
      padding: 40px 48px;
      margin-right: 0;
      margin-left: 0;
    }
    .toc {
      &_title {
        margin-top: 0;
        font-size: 16px;
      }
      &_list {
        font-size: 16px;
        & li{
          margin-top: 16px;
          & a{
            color: $color_blk-1;
            text-decoration: none;
      font-weight: 700;
          }
          & ul{
            & li{
              margin-top: 10px;
              font-size: 14px;
              padding-left: 12px;
              & a{
                color: $color_gry-1;
                text-decoration: none;
              }
            }
          }
        }
        & > li{
          &::before{
            content: '';
            display: block;
            width: 100%;
            height: 8px;
            margin-bottom: 16px;
            background-image: url(../../assets/images/bg_dots.svg);
            background-repeat: repeat-x;
            background-position: center;
            background-size: 10px;
            @include bp(m){
            }
          }
          &:last-child{
            &::after{
              content: '';
              display: block;
              width: 100%;
              height: 8px;
              margin-top: 16px;
              background-image: url(../../assets/images/bg_dots.svg);
              background-repeat: repeat-x;
              background-position: center;
              background-size: 10px;
              @include bp(m){
              }
            }
          }
        }
      }
    }
  }
}
#ez-toc-container {
  position: relative;
  background-color: $color_beg-2;
  border: none !important;
  margin-top: 64px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-bottom: 64px;
  @include bp(m) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
  }
  .ez-toc-title {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: 24px 36px;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1;
    cursor: pointer !important;
    font-weight: 700;
    &-toggle {
        // position: absolute;
    // top: 24px;
    // right: 36px;
      &::before,&::after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 32px;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../../assets/images/ico/ico_minus.svg) center center /contain no-repeat;
        // transform: translateY(-50%);
        }
        &::before{
        }
        &::after{
          transition: all .4s;
          transform: rotate(90deg);
        }
        &.active{
          &::after{
            transform: rotate(0);
          }
        }
        // margin-top: 8px;
        // background-image: url(../../assets/images/bg_dots.svg);
        // background-repeat: repeat-x;
        // background-position: center;
        // background-size: 10px;
        // @include bp(m){
        // }
    }
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.4s;
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  > nav {
    display: none;
    > ul {
      margin-top: 0;
      font-size: 16px;
      padding: 0 36px 24px;
      &.ez-toc-list {
        > li {
          flex-direction: column;
          gap: 0;
          justify-content: flex-start;
          letter-spacing: 0.03em;
          line-height: 1.5;
          margin-top: 24px;
          text-align: left;
          a {
            color: $color_blk-2;
            text-decoration: none;
            font-weight: 500;
            @include transition;
            &:hover {
              opacity: 0.6;
            }
          }
          ul {
            margin-top: 0;
            li {
              margin-top: 8px;
              font-size: 14px;
              letter-spacing: 0.03em;
              line-height: 1.5;
              padding-left: 12px;
              &::before {
                display: none;
              }
              a {
                color: $color_gry-1;
                text-decoration: none;
                word-break: break-word;
              }
            }
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
